@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../types/pfagorasanspro-thin-webfont.woff2") format("woff2"), url("../types/pfagorasanspro-thin-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../types/pfagorasanspro-xthin-webfont.woff2") format("woff2"), url("../types/pfagorasanspro-xthin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../types/pfagorasanspro-light-webfont.woff2") format("woff2"), url("../types/pfagorasanspro-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../types/pfagorasanspro-reg-webfont.woff2") format("woff2"), url("../types/pfagorasanspro-reg-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFAgoraSansPro";
  src: url("../types/pfagorasanspro-bold-webfont.woff2") format("woff2"), url("../types/pfagorasanspro-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}