$black: #000;
$white: #fff;
$red: #e11a27;
$yellow: #ffd200;
$biege: #f3f0e7;
$light-biege: #f7f0e6;
$gray-21: #212121;
$khaki: #796400;
$font-size-base: 1.8rem;
$line-height-base: 2.2rem;
$font-family-base: PFAgoraSansPro,
Arial,
sans-serif;
$min-width-1: 700px;
$min-width-2: 1170px;
$max-width-1: 1170px;