$black: #000;
$white: #fff;
$yellow: #ffd200;
$gray-21: #212121;
$font-size-base: 1.8rem;
$line-height-base: 2.2rem;
$font-family-base: PFAgoraSansPro,
Arial,
sans-serif;
$min-width-1: 700px;
$min-width-2: 1170px;
$max-width-1: 1170px;